<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field joined_at">
    <%= f.label :joined_at %><br />
    <%= f.datetime_select :joined_at %>
  </div>
  <div class="field">
    <%= f.label :rank %><br />
    <%= f.text_field :rank %>
  </div>
  <div class="field">
    <%= f.label :decided %>&nbsp;<%= f.check_box :decided %>
  </div>
  <div class="field">
    <%= f.label :belt_size %><br />
    <%= f.number_field :belt_size %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
