<h2>Student Detail</h2>

<p id="notice"><%= notice %></p>


<h3 class="decided<%= @student.decided %> studentName">
  <%= @student.name %>
</h3>

<p>
  <b>Joined at:</b>
  <%= @student.joined_at %>
</p>

<p>
  <b>Rank:</b>
  <%= @student.rank %>
</p>

<p>
  <b>Decided:</b>
  
</p>

<p>
  <b>Belt size:</b>
  <%= @student.belt_size %>
</p>


<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path ,:class=>"back-btn"%>
